# Pandas Tutorial : Writing in .csv File

In [15]:
import pandas as pd

In [16]:
# Opening a .csv File in a DataFrame
df = pd.read_csv('D:\\SAYAN SRK\\Datasets\\fortune_101.csv') 
df

,Unnamed: 0,Data,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,0,1,2,3,4,5,6,7
1,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
2,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
3,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
4,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
5,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
6,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
7,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
8,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
9,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
10,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
11,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Use of header parameter..

In [20]:
# Using Second Row as the Header
df = pd.read_csv('D:\\SAYAN SRK\\Datasets\\fortune_101.csv', header = 1 ) 
df

,0,1,2,3,4,5,6,7
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [21]:
# Using Third Row as the Header
df = pd.read_csv('D:\\SAYAN SRK\\Datasets\\fortune_101.csv', header = 2 ) 
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [22]:
# NO HEADER..
df = pd.read_csv('D:\\SAYAN SRK\\Datasets\\fortune_101.csv', header = None ) 
df

,0,1,2,3,4,5,6,7
0,NaN,Data,NaN,NaN,NaN,NaN,NaN,NaN
1,0,1,2,3,4,5,6,7
2,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
3,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
4,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
5,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
6,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
7,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
8,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
9,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
10,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
11,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
12,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Use of prefix Parameter..

In [23]:
# Opening a .csv File in a DataFrame
df = pd.read_csv('D:\\SAYAN SRK\\Datasets\\fortune_10.csv') 
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

#### ```Customizing The Header```

In [25]:
pd.read_csv('D:\\SAYAN SRK\\Datasets\\fortune_10.csv', header = None, prefix = 'column ')

C:\Users\Dell\AppData\Local\Temp\ipykernel_6916\3604684806.py:1: FutureWarning: The prefix argument has been deprecated and will be removed in a future version. Use a list comprehension on the column names in the future.


  df = pd.read_csv('D:\\SAYAN SRK\\Datasets\\fortune_10.csv', header = None, prefix = 'column ')

,column 0,column 1,column 2,column 3,column 4,column 5,column 6,column 7
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [26]:
pd.read_csv('D:\\SAYAN SRK\\Datasets\\fortune_10.csv', header = None, prefix = 'col-')

C:\Users\Dell\AppData\Local\Temp\ipykernel_6916\2578177593.py:1: FutureWarning: The prefix argument has been deprecated and will be removed in a future version. Use a list comprehension on the column names in the future.


  pd.read_csv('D:\\SAYAN SRK\\Datasets\\fortune_10.csv', header = None, prefix = 'col-')

,col-0,col-1,col-2,col-3,col-4,col-5,col-6,col-7
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Use of Names Parameter

In [27]:
# Customizing The Column Names.. names should be given in a List.

In [28]:
pd.read_csv('D:\\SAYAN SRK\\Datasets\\fortune_10.csv', names = ['A','B','C','D','E','F','G','H'])

,A,B,C,D,E,F,G,H
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [32]:
# If the no. of names in the list isn't equal to total colums..
# The previous columns will become the Index Automatically...
pd.read_csv('D:\\SAYAN SRK\\Datasets\\fortune_10.csv', names = ['1st','2nd','3rd','4th','5th','6th'])

,,1st,2nd,3rd,4th,5th,6th
ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Use of head() Function

### ```SYNTAX : df.head()      --> By default head() function displays first five rows, but we can give our desired rows in the parameter```

In [34]:
# Opening a .csv File in a DataFrame
df = pd.read_csv('D:\\SAYAN SRK\\Datasets\\fortune_10.csv') 
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [35]:
df.head()

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%

In [36]:
df.head(1)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%

In [37]:
df.head(7)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%

### Use of tail() Method

### ```df.tail() prints the last five rows but we can give the no. of rows in the parameter```

In [38]:
df.tail()

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [39]:
df.tail(7)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [40]:
df.tail(2)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Changing The Datatype

In [42]:
# Changing datatype of ID and Profit from int to float.. 
df = pd.read_csv('D:\\SAYAN SRK\\Datasets\\fortune_10.csv', dtype = {'ID' : 'float64', 'Profit' : 'float64'}) 
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180.0,18%
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

### Handelling YES and NO Values

In [44]:
# Opening a .csv File in a DataFrame
df = pd.read_csv('D:\\SAYAN SRK\\Datasets\\fortune_102.csv') 
df

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,No,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,No,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Yes,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Yes,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,No,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [47]:
df = pd.read_csv('D:\\SAYAN SRK\\Datasets\\fortune_102.csv', true_values = ['Yes'], false_values = ['No']) 
df

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,True,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,True,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,False,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,True,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,False,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,False,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,True,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,True,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,False,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,True,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%